.navbar {
  background-color: #eee;
  color: black;
  margin: 0;
  padding: 0;

  .horizontal-list {
     list-style-type: none;
     padding: 0;
  }

  .horizontal-list li {
    display: inline-block; /* Displays list items horizontally */
    margin-left: 15px; /* Adds spacing between items */
    margin-top: 13px;
    font-weight: 500;
  }

  .logo {
    position: relative;
    left: 90px;
  }

  .cart-logo {
    width: 30px;
    height: 30px;
    position: relative;
    left: 265px;
  }

  button{
    background-color: pink;
    border-radius: 15px;
    padding: 10px;
    margin-right: 20px;
    border: 0;
    font-weight: 600;
  }
}
