.horizontal-list {
    list-style-type: none;
    padding: 0;
 }

 .horizontal-list li {
   display: inline-block; /* Displays list items horizontally */
   margin-left: 15px; /* Adds spacing between items */
   margin-top: 13px;
   font-weight: 500;
 }